/* ********TABLE********** */

article th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
  table-layout: fixed;
  width: 80px;
}

article td:nth-child(1) {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

article tr:nth-child(even){background-color: #f2f2f2;}

/* ********INDEX********** */

h1, h2, h3{
  text-align: center;
}

.salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  height:150px;
}